source https://api.nuget.org/v3/index.json
framework: net8.0
storage: none

nuget Fable.Core ~> 4
nuget Fable.Elmish ~> 4
nuget Fable.Elmish.React ~> 4
nuget Fable.Elmish.Debugger ~> 4
nuget Fable.Elmish.HMR ~> 7
nuget Fable.FontAwesome.Free
nuget Feliz ~> 2
nuget Feliz.Bulma
nuget Fulma